@model QuizOne.Db.ApplicationDbContext;
@{
    List<QuizOne.Models.Category> Category = Model.Categories.ToList();
}
@{
    ViewData["Title"] = "Quiz List";
}

<div class="container mt-5">
    <h1 class="text-center">Quiz List</h1>
    <hr />

    <div class="row">
        @foreach (var quiz in Model.Quizzes.ToList())
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@quiz.Title</h5>
                        <p class="card-text">@quiz.Description</p>
                        <p class="card-text">Created on: @quiz.CreationDate.ToShortDateString()</p>
                        <a href="#" class="btn btn-primary my-2">Start Quiz</a>
                        <div class="card-footer">
                            <code style="color: black; font-weight: bold;">Tag(s):</code>
                            @foreach (var m in @Model.QuizCategory)
                            {
                                @if (m.QuizId == quiz.Id)
                                {
                                    var category = Category.Find(catogry => catogry.Id == m.CategoryId);
                                    if (category != null)
                                    {
                                        <a href="https://google.com" style="text-decoration: none;">
                                            @category.Name;
                                        </a>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
